.register {
  width: 64%;
  margin: auto;
}
.register h2 {
  text-align: center;
}
.register__field {
  margin: 30px 0;
}
.register__input {
  width: 100%;
  border: 1px solid lightgray;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}

.error {
  border: 1px solid #e15454;
}

.register__error {
  color: #e15454;
}

.register__buttondisable {
  padding: 8px;

  color: #fff;
  background-color: #007bff;
  border: none;
  cursor: not-allowed !important;
  background-color: lightgray;
  opacity: 0.8;
  outline: none !important;
}
